
.container{
    width: 100%;
    overflow: hidden;
}
 .header{
    position: fixed;
    line-height: 3rem;
    height:3rem;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 0 0.5rem 0;
    background: #5fc0cd;
    color: #fff;
    border-radius: 3px 3px 0 0;
    text-align: center;
}
.header a{
    color: #ffffff;
}
.ls {
    display: inline-block;
    float: left;
    line-height: 3rem;
    font-size:1.5rem;
}
h1{
    display: inline-block;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
}
.rs{
    display: inline-block;
    font-size:1.5rem;
    color: #ffffff;
    float: right;
    line-height: 3rem;
}
.blank{
    height: 3rem;
}
.row {
    width: 100%; 
    
    }
.input-user{
    margin:0.5rem 0 0.35rem;
    width: 100%;
    height: 3rem;
    padding-left: 5.3rem;
    background: #fff url(../images/iphone.png) no-repeat scroll left center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 1.5rem;
    color: gray;
    background-position: 30px;
}
.input-password{
    margin:0.35rem 0 0.56rem;
    width: 100%;
    height: 3rem;
    color: gray;
    padding-left: 5.3rem;
    background: #fff url(../images/pass.png) no-repeat scroll left center;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-size: 1.5rem;
    background-position: 30px;
}
.buttonArea{
    margin-top: 2rem;
}
.submit{
    display: inline-block;
    height: 3rem;
    width: 100%;
    line-height:3rem;
    color: #fff;
    background:#5fc0cd;
    border:1px solid #5fc0cd;
    border-radius: 3px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.submit:active{
    background: #007fff;
}
.tips{
    display: block;
    margin-top: 1rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;  
    text-align: right;  
}
.tips a{
   color: #5fc0cd;
    
}